@import './shared.scss';

.pages{
  margin: 0 auto;
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  @media (min-width:1024px){
    width: 400px;
  }
  .button {
    background-color: white;
    border: 1px solid $secondary-color;
    border-radius: 5px;
    width: 28px;
    height: 28px;
    font-size: 1rem;
    color: $secondary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (min-width: 768px) {
      width: 32px;
      height: 32px;
      font-size: 1.1rem;
    }
    @media (min-width:1024px){
      width: 34px;
      height: 34px;
      font-size: 1.2rem;
    }
  }
  .active {
    background-color: $primary-color;
    color: white;
    border: 0;
  }
  .special{
    color: $primary-color;
  }
}