@import './shared.scss';
.main {
  &__header {
    background-color: rgba(229, 234, 244, 0.25);
    font-weight: 500;
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    margin-top: 0;
  }
  &__element{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    width: 100%;
    border-bottom: 1px solid $spacer-color;
    padding: 10px 0;
  }
}